@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    list-style: none;
    text-decoration: none;
}

.header{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.header .nav ul{
    display: flex;
}

.header .nav ul li{
    margin-left: 20px;
}

.header .nav ul li a{
    text-transform: capitalize;
    color: hsl(36, 100%, 99%);
}
