@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.header{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 20px auto;
}

.header .nav ul{
    display: flex;
}

.header .nav ul li{
    margin-left: 20px;
}

.header .nav ul li a{
    text-transform: capitalize;
    color: hsl(236, 13%, 42%);
    font-weight: 400;
    transition: all .1s linear;
}

/* nav link hover effects */
.header .nav ul li a:hover{
    color: hsl(5, 85%, 63%);
}

header .menubtn{
  
    background: none;
    border: none;
    cursor: pointer;
}


/* MAIN SECTION */
.first_Section{
    display: flex;
    width: 95%;
    margin: auto;  
}

/* image resizing */
main .left_section{
    padding-right: 1.5rem;
}

main .left_section img{
    max-width: 100%;
    max-height: 100%;
}

main .left_section .left_section-down div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* left section bottom texts */
main .left_section .left_section-down{
    display: flex;
    align-items: center;
    margin-top: 1.1rem;
}

main .left_section .left_section-down h2{
    text-transform: capitalize;
    font-size: 2.4rem;
    font-weight: 800;
    width: 100%;
}

main .left_section .left_section-down div{
    width: fit-content;
}

main .left_section .left_section-down div p{
    margin-bottom: 1.3rem;
}

main .left_section .left_section-down div a{
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    padding: .6rem 1.3rem;
    display: inline-block;
    transition: all .1s linear;
}

/* Read More Link Hover Effect */
main .left_section .left_section-down div a:hover{
    background-color: hsl(240, 100%, 5%);
}

/* Main section aside */
main aside{
    color: hsl(30, 2%, 82%);
    width: 42rem;
    background-color: hsl(240, 100%, 5%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main aside h3{
    color: hsl(35, 77%, 62%);
    font-size: 1.7rem;
}

main aside div{
    margin: 1rem 0;
}

main aside a{
    color: hsl(36, 100%, 99%);
    font-size: .9rem;
    font-weight: 700;
    transition: all .1s linear;
}

main aside a:hover{
    color: hsl(35, 77%, 62%);;
}

main aside p{
    font-size: .9rem;
    margin-top: 1rem;
}

main aside .middle-div{
    border-top: 1px solid hsla(0, 0%, 53%, 0.438);
    border-bottom: 1px solid hsla(0, 0%, 53%, 0.438);
    padding: 2rem 0;
}

main aside .middle-div p{
    margin-bottom: 0;
}

/* footer section cards */
.footer-section{
    margin: auto;
    margin: 4rem auto;
    width: 95%;
}
.footer-section .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}
.footer-section .cards .cards_list{
    display: flex;
    transition: all .2s linear;
}

.footer-section .cards .cards_list div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-section .cards .cards_list:hover{
    background-color: hsl(0, 0%, 96%);
}

.footer-section .cards .cards_list img{
    height: 130px;
    object-fit: contain;
    margin-right: 13px;
}

.cards_list h2{
    color: hsl(233, 8%, 79%);
    line-height: .8;
    margin-bottom: .6rem;
    font-size: 1.4rem;
}

.cards_list a{
    font-weight: 800;
    color: hsl(240, 100%, 5%);
    text-transform: capitalize;
    font-size: .9rem;
    transition: all .1s linear;
}

/* hover effect */
.cards_list a:hover{
    color: hsl(5, 85%, 63%);
}

.cards_list p{
    margin-top: .6rem;
    font-size: 14px;
    color: hsl(220, 1%, 43%);
}

/* RESPONSIVE */
/* Larger Screens (964px min) */
/* @media only screen and (min-width: 1140px ){
    .header{
        width: 1070px;
    }

    .first_Section{
        width: 1070px
    }

    main .left_section .left_section-down h2{
        font-size: 3.7rem;
    }

    main .left_section .left_section-down div p{
        font-size: 1.2rem;
    }

    main .left_section .left_section-down div a{
        width: fit-content;
    }

    main aside{
        width: 51rem;
    }

    main aside h3 {
        font-size: 2.7rem;
    }

    main aside a{
        font-size: 1.2rem;
    }

    main aside p{
        font-size: 1rem;
    }

    main .left_section .left_section-down div a{
        font-size: 1.3rem;
    }

    .footer-section{
        width: 1070px;
    }

    .footer-section .cards .cards_list img{
        height: 170px;
    }

    .cards_list a{
        font-size: 1.1rem;
    }

    .cards_list h2{
        font-size: 2rem;
    }

    .cards_list p{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1100px){
    .header, 
    .first_Section,
    .footer-section {
        width: 98%;
    }

    main .left_section .left_section-down h2 {
        font-size: 2.7rem;
    }

    main .left_section .left_section-down div p {
        font-size: 1rem;
    }

    main .left_section .left_section-down div a {
        font-size: 1rem;
    }

    main aside h3 {
        font-size: 2rem;
    }

    main aside a {
        font-size: 1rem;
    }


} */

@media only screen and (max-width: 800px){
    .first_Section {
        display: flex;
        flex-direction: column;
    }

    main .left_section {
        padding-right: 0;
    }

    main .left_section .left_section-down div a {
        width: fit-content;
    }

    main .left_section .left_section-down {
        margin-bottom: 1.1rem;
    }

    main aside {
        width: auto;
    }

    .footer-section .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
}

@media only screen and (max-width: 570px){
    header button{
        display: block;
    }

    .header .nav{
        display: none;
    }

    .showMenu{
        display: block !important;
    }
}

